<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
 crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
 crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
 crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
 crossorigin="anonymous"></script>


<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-img-wrap">
					<img class="card-img-top" src="assets/img/americas.png" alt="Card image cap">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">
						<a [routerLink]="['/region','americas']" href="">Americas</a>
					</h4>
					<p class="card-text"></p>
					<!-- <a href="#" class="btn btn-primary"></a> -->
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-img-wrap">
					<img class="card-img-top" src="assets/img/asia.png" alt="Card image cap">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">
						<a [routerLink]="['/region','asia']" href="#">Asia</a>
					</h4>
					<p class="card-text"></p>
					<!-- <a href="#" class="btn btn-primary"></a> -->
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-img-wrap">
					<img class="card-img-top" src="assets/img/europe.png" alt="Card image cap">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">
						<a [routerLink]="['/region','europe']" href="#">Europe</a>
					</h4>
					<p class="card-text"></p>
					<!-- <a href="#" class="btn btn-primary"></a> -->
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-img-wrap">
					<img class="card-img-top" src="assets/img/africa.png" alt="Card image cap">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">
						<a [routerLink]="['/region','africa']" href="#">Africa</a>
					</h4>
					<p class="card-text"></p>
					<!-- <a href="#" class="btn btn-primary"></a> -->
				</div>
			</div>
		</div>
		<div class=" col-md-2"></div>
		<div class="col-md-2">
			<div class="card">
				<div class="card-img-wrap">
					<img class="card-img-top" src="assets/img/oceania.png" alt="Card image cap">
				</div>
				<div class="card-block">
					<h4 class="card-title text-center">
						<a [routerLink]="['/region','oceania']" href="#">Oceania</a>
					</h4>
					<p class="card-text"></p>
					<!-- <a href="#" class="btn btn-primary"></a> -->
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>